<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 服务名称 -->
    <dubbo:application name="004-zk-provider"/>

    <!-- 协议 使用dubbo协议，协议端口20880默认-->
    <dubbo:protocol name="dubbo" port="20880"/>

    <!-- 注册中心地址 使用Zookeeper,-->
    <dubbo:registry address="zookeeper://localhost:2181"/>

    <!-- 暴露服务 -->
    <dubbo:service interface="com.yyl.api.service.UserService" ref="userServiceImpl" version="1.0.0"/>
    <dubbo:service interface="com.yyl.api.service.UserService" ref="userServiceImplV2" version="2.0.0"/>

    <bean id="userServiceImpl" class="com.yyl.provider.service.impl.UserServiceImpl"/>
    <bean id="userServiceImplV2" class="com.yyl.provider.service.impl.UserServiceImplV2"/>

</beans>